body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f8fff8;
}

/* NAVBAR --------------------------------------------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a8f3c;
    color: white;
    padding: 15px 40px;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.navbar a {
    text-decoration: none;
    margin-left: 20px;
    color: white;
    font-weight: 500;
}

.navbar a:hover {
    color: #d4ffd4;
}

.nav-left {
    font-size: 25px;
    font-weight: 700;
}

/* CENTER CONTENT ------------------------------------------ */
.center-box {
    max-width: 900px;
    margin: 50px auto;
    text-align: center;
}

.hero-title {
    font-size: 42px;
    font-weight: 700;
    color: #0f7a2b;
    margin-bottom: 40px;
}

/* GRID CARDS ---------------------------------------------- */
.grid-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card {
    padding: 25px;
    background: white;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-decoration: none;
    color: black;
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

/* FORM ----------------------------------------------------- */
.form-box {
    width: 400px;
    margin: auto;
    text-align: left;
}

.form-box input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #0c802f;
    margin-bottom: 15px;
}

.btn-green {
    width: 100%;
    padding: 12px;
    background: #0a8f3c;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-green:hover {
    background: #0c7433;
}

/* RESULT BOX ---------------------------------------------- */
.result-box {
    margin-top: 30px;
    padding: 20px;
    background: #e8ffe8;
    border-left: 5px solid #0a8f3c;
    border-radius: 8px;
}
