<!DOCTYPE html>
<html>
<head>
    <title>Batch Registration | MineChain</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    {% include 'navbar.html' %}

    <section class="center-box">
        <h1 class="hero-title">Batch QR Registration</h1>

        <form method="POST" class="form-box">
            <label>Batch Number</label>
            <input type="text" name="batch_no" required>

            <label>Material</label>
            <input type="text" name="material" required>

            <label>Origin</label>
            <input type="text" name="origin" required>

            <button class="btn-green" type="submit">Generate QR</button>
        </form>

        {% if message %}
        <div class="result-box">
            <h2>Success</h2>
            <p>{{ message }}</p>
        </div>
        {% endif %}
    </section>

</body>
</html>
